.github
.gitignore
.gitmodules
.vscode
build
lib
*.bin
*.ext2
machine-emulator/**
!machine-emulator/src/*
!machine-emulator/third-party/tiny_sha3/sha3.c
!machine-emulator/third-party/downloads
!machine-emulator/third-party/llvm-flang-uint128
!machine-emulator/third-party/tiny_sha3
prebuilds
test
